.single {
    color: red;
}

.parent {
    & .child {
        color: red;
    }

    &--mod {
        color: green;

        &--addon {
            color: lightgreen;
        }
    }

    &[disabled] {
        color: pink;
    }

    &:active {
        color: yellow;
    }
    &--aa:active,
    &--bb:active {
        color: rebeccapurple;
    }
}

@media (min-width: 320px) {
    .inMedia {
        color: hotpink;

        &__mod {
            color: yellow;
        }
    }
}
